@function r($px) {
  @if $px != 0 {
    @return ($px/2) / 16 * 1rem;
  }
  @else {
    @return 0;
  }
}

@function wi($px) {
  @if $px != 0 {
    @return $px / 750 * 100vw;
  }
  @else {
    @return 0;
  }
}

.page-login {
  background-color: #fff;
  background-size: 100%;
  height: 100vh;
  box-sizing: border-box;

  h2 {
    font-size: 32px;
    padding: 40px 0 50px 30px;
    letter-spacing: 5px;
  }

  .user-group {
    margin: auto;
    padding: 0 r(30);
    width: calc(100% - 50px);
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 1rem 0 rgba(115, 115, 115, 0.5);
    border-radius: r(24);

    .title {
      font-size: r(34);
      color: #000;
      text-align: center;
      line-height: 1em;
      margin-top: r(36);
    }

    .input-default {
      font-size: 16px;
      color: #a2a2a2;
      height: r(111);
      margin: 0;
      padding-left: r(24);
      background-color: #f4f4f4;
      border: 1px solid #e9e9e9;
      border-radius: r(11);
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #cc0001;
      border-radius: r(11);
      height: r(111);
      padding: 0 r(30);

      span {
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: r(46);
      }
    }

    .phone-number {
      margin-top: r(30);

      .input-default {
        width: 100%;
      }
    }

    .sms-number {
      margin-top: r(40);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .send-sms {
        border: 1px solid #e9e9e9;
      }

      .input-default {
        width: 59%;
      }
    }

    .submit {
      margin: r(38) 0 r(54) 0;
      box-shadow: 0 0 5px 0 #df3a3b;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.55;
    font-size: r(24);
    color: #959393;
    text-align: center;
    padding-bottom: r(24);
  }
}
