@function r($px) {
  @if $px != 0 {
    @return ($px/2) / 16 * 1rem;
  }
  @else {
    @return 0;
  }
}

@function wi($px) {
  @if $px != 0 {
    @return $px / 750 * 100vw;
  }
  @else {
    @return 0;
  }
}

.page-colgate {
  background: #fff;

  .red {
    color: #e15147;
  }

  .logo {
    position: absolute;
    top: r(40);
    left: 0;
    width: 33.33%;
    height: 0;
    padding-top: 9.46%;
    background-image: url("./images/logo@2x.png");
    background-size: 100% 100%;
  }

  .banner {
    padding: 0 wi(100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: r(100);

    .txt {
      margin-right: wi(60);
      text-align: center;

      h1 {
        margin: 0;
        font-size: r(62);
        line-height: 1em;
        color: #000;
        text-align: center;
        font-weight: 500;
      }

      h4 {
        font-size: r(26);
        line-height: r(46);
        margin: 3px 0;
      }

      p {
        font-size: r(18);
        color: #afafaf;
        text-align: center;
        margin-bottom: 3px;
      }
    }

    .image {
      width: 35.27%;
      min-width: 35.27%;
      max-height: 35.27%;
      padding-top: 59.97%;
      background-image: url("./images/product@2x.png");
      background-size: 100% 100%;
      position: relative;
      flex: 0;

      .tip {
        position: absolute;
        bottom: 0;
        right: - r(10);
        opacity: 0.55;
        font-size: 7px;
        color: #818181;
        letter-spacing: 0;
        white-space: nowrap;
        text-align: center;
      }
    }
  }

  .user-group {
    margin: r(33) auto 0 auto;
    padding: 0 r(44);
    width: calc(100% - 30px);
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 r(7) 0 rgba(214, 214, 214, .5);
    border-radius: r(24);

    .title {
      font-size: r(34);
      color: #000;
      text-align: center;
      line-height: 1em;
      margin-top: r(46);
    }

    .input-default {
      font-size: 16px;
      color: #a2a2a2;
      height: r(111);
      margin: 0;
      padding-left: r(24);
      background-color: #f4f4f4;
      border: 1px solid #e9e9e9;
      border-radius: r(11);
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #cc0001;
      border-radius: r(11);
      height: r(111);
      padding: 0 r(30);

      span {
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: r(46);
      }
    }

    .phone-number {
      margin-top: r(30);

      .input-default {
        width: 100%;
      }
    }

    .sms-number {
      margin-top: r(40);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .send-sms {
        border: 1px solid #e9e9e9;
      }

      .input-default {
        width: 59%;
      }
    }

    .submit {
      margin: r(38) 0 r(54) 0;
      box-shadow: 0 0 5px 0 #df3a3b;
    }
  }

  .kv {
    margin-top: r(56);
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 148.26%;

    .kv-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .download {
      position: absolute;
      top: 46.8vw;
      right: 26.26vw;
      background: url("./images/download.png") no-repeat;
      background-size: 100% 100%;
      z-index: 1;
      height: 0;
      width: 19.73%;
      padding-top: 19.73%;
    }
  }

  .footer {
    opacity: 0.55;
    font-size: r(20);
    color: #959393;
    text-align: center;
    padding-bottom: r(24);
  }
}
